 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*                 COMENTARIOS:



13/03/2023
16:47

*/




body {
    background-color: #36393F ;
}

.categoria {
    margin-bottom: 01%;
    color: #B9BBBE;
    font-family: 'Montserrat', sans-serif;
    
}

.texto {
    margin-bottom: 01%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #828385;
    border-width: 1px;
    border-color: #828385;
    position: relative; 
  }
.anuncio {
    margin-bottom: 01%;
    color: #B9BBBE;
    font-family: 'Montserrat', sans-serif;
}
.voz {
    margin-bottom: 01%;
    color: #B9BBBE;
    font-family: 'Montserrat', sans-serif;
}

.img {
    position: absolute; 
    top: 50px;
    z-index: 1; 
  }

